<%- include('partials/header') %>
</head>
<body>
  <%- include('partials/navigate') %>

  <div class="home-container">
    <h1>قلاب</h1>
      </div>
      <div class="home-buttons">
       <button class="main-action-btn" onclick="window.location.href='/home/alab/iv'">إيفكو</button>
        <button class="main-action-btn" onclick="window.location.href='/home/alab/mp3'">mp3 مرسيدس</button>
         <button class="main-action-btn" onclick="window.location.href='/home/alab/mp4'">mp4 مرسيدس</button>
   
    </div>

<%- include('partials/end') %>

