<%- include('partials/header') %>
</head>
<body>
  <%- include('partials/navigate') %>

  <div class="home-container">
    <h1>هراس أسفلت</h1>
      </div>
      <div class="home-buttons">
       <button class="main-action-btn" onclick="window.location.href='/home/asphlt/asphltd'">دينباك</button>
        <button class="main-action-btn" onclick="window.location.href='/home/asphlt/asphlth'">هام</button>
         <button class="main-action-btn" onclick="window.location.href='/home/asphlt/asphltv'">فولفو</button> 
   
    </div>

<%- include('partials/end') %>

