<%- include('partials/header') %>
</head>
<body>
  <%- include('partials/navigate') %>

  <div class="home-container">
    <h1>آله فرش أسفلت</h1>
      </div>
      <div class="home-buttons">
       <button class="main-action-btn" onclick="window.location.href='/home/fenshr/fenshr2'">فوجل 2</button>
        <button class="main-action-btn" onclick="window.location.href='/home/fenshr/fenshr3'">فوجل 3</button>
         
   
    </div>

<%- include('partials/end') %>

