<%- include('partials/header') %>
</head>
<body>
  <%- include('partials/navigate') %>

  <div class="home-container">
    <h1>آله تسويه</h1>
      </div>
      <div class="home-buttons">
       <button class="main-action-btn" onclick="window.location.href='/home/gredar/cat'">كاتربلر</button>
        <button class="main-action-btn" onclick="window.location.href='/home/gredar/kom'">كوماتسو</button>
   
    </div>

<%- include('partials/end') %>

