<%- include('partials/header') %>
</head>
<body>
  <%- include('partials/navigate') %>

  <div class="home-container">
    <h1>هراس تراب</h1>
      </div>
      <div class="home-buttons">
       <button class="main-action-btn" onclick="window.location.href='/home/torab/torabd'">دينباك</button>
        <button class="main-action-btn" onclick="window.location.href='/home/torab/torabh'">هام</button>
        <button class="main-action-btn" onclick="window.location.href='/home/torab/torabb'">بوماج</button> 
   
    </div>

<%- include('partials/end') %>

